@font-face{
font-family:"Poppins";
src:url("fonts/Poppins-Regular.ttf");
}


.root{
    -fx-background-color:#2E0A4A;
    -fx-font-family:"Poppins";
}

#NavBar{
-fx-background-color:6D04CC
}

#ClickMeButton{
    -fx-padding: 15px;
    -fx-padding-left: 20px;
    -fx-padding-right: 20px;
    -fx-color:"green";
    -fx-text-fill:"red";
}

.hyperlink:hover{
-fx-text-fill:"black";

}

.primary{
-fx-background-color:"#2E0A4A"
}
.transparent{
    -fx-background-color:rgba(0,0,0,0.1);
}

.round-layout{

-fx-border-radius:25;
-fx-border-color:"#D7D7D7"
}

.selected{
    -fx-background-color:"#F3F3F3"
}

.mouse-moved: hover{
    -fx-background-color:"#E4E4E4"
}

.shadow{
    -fx-effect : dropShadow(three-pass-box,rgba(0,0,0,0),10,0,0,10);
}
